<main>
  <div class="container">
    <section class="left-container">
      <form #f="ngForm" (ngSubmit)="submitLogin(f)">
        <h1>Sign in</h1>
        <input type="email" name="email" id="email" placeholder="Email" autocomplete="email" ngModel>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password"
          ngModel>
        <input type="submit" value="Sign in">
      </form>
    </section>
    <section class="right-container">
      <div class="right-content">
        <h1>Hello, Friend!</h1>
        <p><span style="font-weight: bold;">Griffith Keep</span> is the best solution for managing notes and organizing tasks with your team.</p>
        <a routerLink="/register">Sign up</a>
      </div>
    </section>
  </div>
</main>