main {
  padding-top: 64px;
}

.note-create-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}

.notes-section {
  margin-top: 1em;
  padding: 0 1em;

  div:nth-of-type(n+2) {
    margin-top: 4em;
  }

  h3 {
    font-size: var(--fs-300);
    color: #9aa0a6;
    text-transform: uppercase;
  }
}