<app-navbar></app-navbar>
<main>
  <section class='note-create-section'>
    <app-note-create></app-note-create>
  </section>

  <section class="notes-section">
    <div *ngIf="pinnedNotes.length">
      <h3>pinned</h3>
      <app-masonry itemName="masonry-item" [columnWidth]="240">
        <app-note-card *ngFor="let note of pinnedNotes; trackBy:noteTrackBy" [note]="note" id="masonry-item"></app-note-card>
      </app-masonry>
    </div>

    <div *ngIf="notes.length">
      <h3>notes</h3>
      <app-masonry itemName="masonry-item" [columnWidth]="240">
        <app-note-card *ngFor="let note of notes; trackBy:noteTrackBy" [note]="note" id="masonry-item"></app-note-card>
      </app-masonry>
    </div>

    <div *ngIf="expiredNotes.length">
      <h3>expired</h3>
      <app-masonry itemName="masonry-item" [columnWidth]="240">
        <app-note-card *ngFor="let note of expiredNotes; trackBy:noteTrackBy" [note]="note" id="masonry-item"></app-note-card>
      </app-masonry>
    </div>
  </section>
</main>