.container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  .fullname-span {
    margin-right: 1em;
    white-space: nowrap;

    @media (max-width: 60em) {
      & {
        display: none;
      }
    }
  }

  .circle {
    position: relative;
    width: 46px;
    height: 46px;
    background-color: #0078d4;
    border-radius: 50%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}