.container {
  position: relative;
  width: 100%;
  padding: 1em;
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 8px;
  word-wrap: break-word;

  h1 {
    font-size: var(--fs-500);
  }

  p {
    margin-top: .5em;
    font-size: var(--fs-400);
  }
}